{extend name="Public:base" /}
{block name="content"}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">列表</h3>
    </div>

    <div id="demo-custom-toolbar2" class="table-toolbar-left">
        <div class="col-m-5">
        <!--Block Level buttons-->
        <!--===================================================-->
        <!--===================================================-->
    </div>
    </div>
        <!--===================================================-->
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>备用</th>
                    <th>备用</th>
                    <th class="min-tablet">备用</th>
                    <th class="min-tablet">备用</th>
                    <th class="min-desktop">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div>
             <tr class="content">
                <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
                </div></td>  
            </tr>
        </div>
    </div> 
</div>
{/block}