{extend name="Public:base" /}
{block name="content"}
<div class="panel">
  <!-- Panel heading -->
  <div class="panel-heading">
    <div class="panel-control">
     
    </div>
    <h3 class="panel-title">修改</h3></div>
  <!-- Panel body -->
  <form id="demo-bv-errorcnt" class="form-horizontal bv-form" action="" method="POST" novalidate="novalidate">
    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="panel-body">
      <div class="tab-content">
        <!--SHOWING ERRORS IN TOOLTIP-->
        <!--===================================================-->
        <div id="demo-tabs-box-1" class="tab-pane fade in active">
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">用户名</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="username" value="{$update.username}" placeholder="用户名" data-bv-field="name">
              <i class="form-control-feedback" data-bv-icon-for="name" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group pad-ver">
            <label class="col-md-3 control-label">权限选择</label>
            <div class="col-md-9">
                <div class="checkbox">
                   <div class="col-lg-7">
                    {volist name="list" id="vo"}
                      <li style="list-style-type:decimal"><input name="role" <?php if(in_array($vo['id'],explode(',',$update['role']))){ echo 'checked';} ?> value="{$vo.id}" type="checkbox" ><span>{$vo.name}</span></li>
                      {/volist}
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">昵称</label>
            <div class="col-lg-7">
              <input type="email" class="form-control" name="nickname" value="{$update.nickname}" placeholder="昵称" data-bv-field="email">
              <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">基本工资</label>
            <div class="col-lg-7">

              <input type="email" class="form-control" name="salary" value="{$update.salary}" placeholder="基本工资" data-bv-field="email">
              <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">店主工资提成</label>
            <div class="col-lg-7">

              <input type="email" class="form-control" name="royalty" value="{$update.royalty}" placeholder="店主工资提成" data-bv-field="email">
              <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">状态</label>
            <div class="col-lg-7">
              <input type="radio" name="status" value="1" <?php if($update['status'] == 1) {echo 'checked';} ?>>启用
              <input type="radio" name="status" value="0" <?php if($update['status'] == 0) {echo 'checked';} ?>>禁用
            </div>
          </div>
        </div>
       </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="col-lg-7 col-lg-offset-3">
        <button type="button" class="btn btn-mint" id="CreateSubmit" value="点击创建">点击创建</button></div>
    </div>
  </form>
</div>
<script>
  $(function(){
      $('#CreateSubmit').click(function(){
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
        var nickname  = $("input[name='nickname']").val();
        var salary  = $("input[name='salary']").val();
        var royalty  = $("input[name='royalty']").val();
        var status = $('input[name="status"]:checked').val();
        var role = '';
        $("input:checkbox[name='role']:checked").each(function() { // 遍历name=test的多选框
          role += $(this).val()+',';  // 每一个被选中项的值
        });
        $.ajax({
          type: 'POST',
          url:'/Admin/Administrator/DoUpdate?id={$update.id}',
          data: {
            username:username,
            password:password,
            nickname:nickname,
            salary:salary,
            royalty:royalty,
            status:status,
            role:role,
          },
          success: function(data){
              var data= eval('('+data+')');  
              if (data.code == 0) {
                  layer.msg(data.meg, function(){
                    //关闭后的操作
                  });
                  setTimeout(function(){
                    window.location.href=document.referrer;
                  },1500);
              }else{
                  layer.msg(data.meg, function(){
                    //关闭后的操作
                  });
                  return false;
              }
          },
        });
      })
  });
</script>
{/block}