{extend name="Public:base" /}
{block name="content"}
<link rel="stylesheet" href="/static/home/song/css/index.css">
<div class="high_seas">
    <div class="content">
        <ul>
            <li>
                <!--  -->
                <a href="/index/Order/OrderList" class="dingdan">
                    送水公海
                </a>
            </li>
            <li>
                <!--  -->
                <a href="/index/Order/TOrderList" class="order">
                    退桶公海
                </a>
            </li>
            <li>
                <!--  -->
                <a href="/index/Order/BucketsLog" class="bucket">
                    回桶情况
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">




</script>

{/block}