{extend name="Public:base" /}
{block name="content"}
<link rel="stylesheet" href="/static/home/song/css/order.css">
<div class="tab">
    <div class="all">
        <div class="content">
            <a href="/Index/Order/SOrderList">
                <span>我的订单</span>
                <span>查看全部 <img src="/static/home/song/images/jian1.png"></span>
            </a>
        </div>
    </div>
    <div class="title">
        <div class="content">
            <ul>
                <li class="active"><a href="javascript:;">待接单</a></li>
                <li><a href="javascript:;">已发货</a></li>
                <li><a href="javascript:;">已送达</a></li>
                <li><a href="javascript:;">已完成</a></li>
                <li><a href="javascript:;">已取消</a></li>
            </ul>
        </div>
    </div>
    <div class="big">
        <div class="center active">
            <div class="content">
                {volist name="list" id="vo"}
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>{:date('Y-m-d H:i:s', $vo.createTime)}</span></div>
                    <div class="item-con">
                        {volist name="vo.goods" id = "vs"}
                        <div class="list"><span>商品名称:</span><span>{$vs.goodsName}</span><span><b>{$vs.goodsNum}</b>桶</span></div>
                        {/volist}
                        <div class="list"><span>收货人:</span><span>{$vo.userName},{$vo.userMobile}</span><span></span></div>
                        <div class="list"><span>地址:</span><span>{$vo.userAddress}</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>{$vo.orderRemarks}</span><span></span></div>
                        {if $vo.depositStatus == 2}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户未支付桶押金订水。请注意处理</span><span></span></div>
                        {/if}
                        {if $vo.orderGoodsType == 3}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户为{$vo.shenfen}，未正常支付租金{$vo.bucketNumbers}桶</span><span></span></div>
                        {/if}
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="Receipt" data-id="{$vo.id}">接单</a>
                    </div>
                </div>
                {/volist}
<!--                 <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>请小哥哥快点送!急用</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;">接单</a>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- 已发货 -->
        <div class="center">
            <div class="content">
                {volist name="Yfhlist" id="vo"}
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>{:date('Y-m-d H:i:s', $vo.createTime)}</span></div>
                    <div class="item-con">
                        {volist name="vo.goods" id = "vs"}
                        <div class="list"><span>商品名称:</span><span>{$vs.goodsName}</span><span><b>{$vs.goodsNum}</b>桶</span></div>
                        {/volist}
                        <div class="list"><span>收货人:</span><span>{$vo.userName},{$vo.userMobile}</span><span></span></div>
                        <div class="list"><span>地址:</span><span>{$vo.userAddress}</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>{$vo.orderRemarks}</span><span></span></div>
                        {if $vo.depositStatus == 2}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户未支付桶押金订水。请注意处理<br />请让客户押桶或者回收对应品牌桶后再点已送达<br />({$vo.tips})</span><span></span></div>
                        {/if}
                        {if $vo.orderGoodsType == 3}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户为{$vo.shenfen}，未正常支付租金{$vo.bucketNumbers}桶</span><span></span></div>
                        {/if}
                    </div>
                    <div class="item-bot delivery">
                        <a href="javascript:;" class="giveUp" data-id="{$vo.id}">放弃</a>
                        <a href="javascript:;" class="giveTo" data-id="{$vo.id}">已送达</a>
                    </div>
                </div>
                {/volist}
<!--                 <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>11水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>22净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot delivery">
                        <a href="javascript:;">放弃</a>
                        <a href="javascript:;">已送达</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot delivery">
                        <a href="javascript:;">放弃</a>
                        <a href="javascript:;">已送达</a>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- 已送达 -->
        <div class="center">
            <div class="content">
                {volist name="Ysdlist" id="vo"}
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>{:date('Y-m-d H:i:s', $vo.createTime)}</span></div>
                    <div class="item-con">
                        {volist name="vo.goods" id = "vs"}
                        <div class="list"><span>商品名称:</span><span>{$vs.goodsName}</span><span><b>{$vs.goodsNum}</b>桶</span></div>
                        {/volist}
                        <div class="list"><span>收货人:</span><span>{$vo.userName},{$vo.userMobile}</span><span></span></div>
                        <div class="list"><span>地址:</span><span>{$vo.userAddress}</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>{$vo.orderRemarks}</span><span></span></div>
                        {if $vo.depositStatus == 2}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户未支付桶押金订水。请注意处理</span><span></span></div>
                        {/if}
                        {if $vo.orderGoodsType == 3}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户为{$vo.shenfen}，未正常支付租金{$vo.bucketNumbers}桶</span><span></span></div>
                        {/if}
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已送达</a>
                    </div>
                </div>
                {/volist}
<!--                 <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已送达</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已送达</a>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- 已完成 -->
        <div class="center">
            <div class="content">
                {volist name="Ywclist" id="vo"}
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>{:date('Y-m-d H:i:s', $vo.createTime)}</span></div>
                    <div class="item-con">
                        {volist name="vo.goods" id = "vs"}
                        <div class="list"><span>商品名称:</span><span>{$vs.goodsName}</span><span><b>{$vs.goodsNum}</b>桶</span></div>
                        {/volist}
                        <div class="list"><span>收货人:</span><span>{$vo.userName},{$vo.userMobile}</span><span></span></div>
                        <div class="list"><span>地址:</span><span>{$vo.userAddress}</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>{$vo.orderRemarks}</span><span></span></div>
                        {if $vo.depositStatus == 2}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户未支付桶押金订水。请注意处理</span><span></span></div>
                        {/if}
                        {if $vo.orderGoodsType == 3}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户为{$vo.shenfen}，未正常支付租金{$vo.bucketNumbers}桶</span><span></span></div>
                        {/if}
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已完成</a>
                    </div>
                </div>
                {/volist}
<!--                 <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已完成</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已完成</a>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- 已取消 -->
        <div class="center">
            <div class="content">
                {volist name="Yqxlist" id="vo"}
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>{:date('Y-m-d H:i:s', $vo.createTime)}</span></div>
                    <div class="item-con">
                        {volist name="vo.goods" id = "vs"}
                        <div class="list"><span>商品名称:</span><span>{$vs.goodsName}</span><span><b>{$vs.goodsNum}</b>桶</span></div>
                        {/volist}
                        <div class="list"><span>收货人:</span><span>{$vo.userName},{$vo.userMobile}</span><span></span></div>
                        <div class="list"><span>地址:</span><span>{$vo.userAddress}</span><span></span></div>
                        <div class="list zhu"><span>备注信息:</span><span>{$vo.orderRemarks}</span><span></span></div>
                        {if $vo.depositStatus == 2}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户未支付桶押金订水。请注意处理</span><span></span></div>
                        {/if}
                        {if $vo.orderGoodsType == 3}
                        <div class="list zhu"><span>特别注意:</span><span style="color:red;">客户为{$vo.shenfen}，未正常支付租金{$vo.bucketNumbers}桶</span><span></span></div>
                        {/if}
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete" >已取消</a>
                    </div>
                </div>
                {/volist}
<!--                 <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已取消</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-title"><span>立即配送</span><span>2018-05-05 14:00:00</span></div>
                    <div class="item-con">
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>3</b>桶</span></div>
                        <div class="list"><span>商品名称:</span><span>哇哈哈纯净水</span><span><b>1</b>桶</span></div>
                        <div class="list"><span>收货人:</span><span>王女士,1573574777</span><span></span></div>
                        <div class="list"><span>地址:</span><span>北京市朝阳区十里河大洋路333号微沃办公区B座112室</span><span></span></div>
                    </div>
                    <div class="item-bot">
                        <a href="javascript:;" class="complete">已取消</a>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>
<script src="/static/layui/layui.all.js"></script>
<link rel="stylesheet" href="/static/layui/css/layui.css">      
<script>
    //公海选项卡
    $(".title ul li").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        var a =$(this).index();
        $(".big .center").eq(a).addClass("active").siblings().removeClass("active");
    });

    $('.Receipt').click(function(){
        var myUrl  = "/Index/Order/Receipt";
        var orderId = $(this).attr('data-id');
        $.ajax({
          url: myUrl,
          type: 'get',
          dataType: 'json',
          data:{orderId:orderId},
          timeout: 1000,
          success: function (data, status) {
            if (data.code == '1001'){
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
                setTimeout(function(){
                     window.location.reload();
                  },1500);
            } else {
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
            }
          },
          fail: function (err) {
            layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
          }
        }) 
    })

    $('.giveUp').click(function(){
        var myUrl  = "/Index/Order/giveUp";
        var orderId = $(this).attr('data-id');
       
        $.ajax({
          url: myUrl,
          type: 'get',
          dataType: 'json',
          data:{orderId:orderId},
          timeout: 1000,
          success: function (data, status) {
            if (data.code == '1001'){
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
                setTimeout(function(){
                    window.location.reload();
                  },1500);
            } else {
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
            }
          },
          fail: function (err) {
            layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
          }
        }) 
    })

    $('.giveTo').click(function(){
        var myUrl  = "/Index/Order/giveTo";
        var orderId = $(this).attr('data-id');
   
        $.ajax({
          url: myUrl,
          type: 'get',
          dataType: 'json',
          data:{orderId:orderId},
          timeout: 1000,
          success: function (data, status) {
            if (data.code == '1001'){
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
                setTimeout(function(){
                    window.location.reload();
                  },1500);
            } else {
                layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
            }
          },
          fail: function (err) {
            layer.msg(data.msg, function(){
                    //关闭后的操作
                  });
          }
        }) 
    })






</script>

{/block}
