{extend name="Public:base" /}
{block name="content"}
<div class="panel">
  <!-- Panel heading -->
  <div class="panel-heading">
    <div class="panel-control">
     
    </div>
    <h3 class="panel-title">修改</h3></div>
  <!-- Panel body -->
  <form id="demo-bv-errorcnt" class="form-horizontal bv-form" action="" method="POST" novalidate="novalidate">
    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="panel-body">
      <div class="tab-content">
        <!--SHOWING ERRORS IN TOOLTIP-->
        <!--===================================================-->
        <div id="demo-tabs-box-1" class="tab-pane fade in active">
          <div id="demo-tabs-box-1" class="tab-pane fade in active">
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">关于我们</label>
            <div class="col-lg-7">
              <textarea name="about" id="reviewww" style="height:270px; width:700px;" >{$update.about}</textarea>
              <i class="form-control-feedback" data-bv-icon-for="name" style="display: none;"></i>
            </div>
          </div>
        </div>
        </div>
       </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="col-lg-7 col-lg-offset-3">
        <button type="button" class="btn btn-mint" id="CreateSubmit" value="点击修改">点击修改</button></div>
    </div>
  </form>
</div>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<script>
  $(function(){
    $('#CreateSubmit').click(function(){
      var about = $("#reviewww").val();

      $.ajax({
        type: 'POST',
        url:'/Admin/Config/DoUpdate',
        data:{
            about:about,
        },
        success: function(data){
            var data= eval('('+data+')');
            if (data.code == 1) {
                layer.msg(data.meg, function(){
                  //关闭后的操作
                });
                setTimeout(function(){
                  window.location.reload();//hrefwindow.location.reload()=document.referrer;
                },1500);
            }else{
                layer.msg(data.meg, function(){
                  //关闭后的操作
                });
                return false;
            }
        },
      });
    })
  });
</script>
{/block}