{extend name="Public:base" /}
{block name="content"}
<div class="panel">
  <!-- Panel heading -->
  <div class="panel-heading">
    <div class="panel-control">
     
    </div>
    <h3 class="panel-title">添加栏目</h3></div>
  <!-- Panel body -->
  <form id="demo-bv-errorcnt" class="form-horizontal FormAction bv-form" action="/Admin/Column/DoAdd" method="POST" novalidate="novalidate">
    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="panel-body">
      <div class="tab-content">
        <!--SHOWING ERRORS IN TOOLTIP-->
        <!--===================================================-->
        <div id="demo-tabs-box-1" class="tab-pane fade in active">
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">选择栏目</label>
            <div class="col-lg-7">
                 <select class="selectpicker col-lg-6" id="SelectVal" name="pid" data-live-search="true" data-width="100%" tabindex="-98">
        			    <option value="0" selected>顶级栏目</option>
  						    {volist name="list" id="val"}
        			    <option value="{$val.id}"><?php if ($val['lev'] != 1) {echo str_repeat("&nbsp",4*$val['lev']);}?>{$val.name}</option>
                  {/volist}
        			</select>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">栏目名</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="name" placeholder="Name" data-bv-field="name">
              <i class="form-control-feedback" data-bv-icon-for="name" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">icon图标</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="icon" placeholder="ICON" data-bv-field="name">
              <i class="form-control-feedback" data-bv-icon-for="name" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">URL地址</label>
            <div class="col-lg-7">
              <input type="email" class="form-control" name="url" placeholder="Email" data-bv-field="email">
              <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
            </div>
          </div>
        </div>
       </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="col-lg-7 col-lg-offset-3">
        <button type="button" class="btn btn-mint" id="CreateSubmit" value="点击创建">点击创建</button></div>
    </div>
  </form>
</div>
<script>
  $(function(){
      $('#CreateSubmit').click(function(){
        var actionUrl = $('.FormAction').attr('action');
        var pid =  $('#SelectVal option:selected').val();
        var name = $("input[name='name']").val();
        var icon = $("input[name='icon']").val();
        var url  = $("input[name='url']").val();
        $.ajax({
          type: 'POST',
          url: '/Admin/Column/DoAdd',
          data: {
            name:name,
            icon:icon,
            url:url,
            pid:pid,
          },
          success: function(data){
              var data= eval('('+data+')');
              if (data.code == 1) {
                  layer.msg(data.meg, function(){
                    //关闭后的操作
                  });
                  setTimeout(function(){
                    window.location.href=document.referrer;
                  },1500);
              }else{
                  layer.msg(data.meg, function(){
                    //关闭后的操作
                  });
                  return false;
              }
          },
        });
      })
  });
</script>
{/block}