<!DOCTYPE html>
<html lang="en">


    {block name="content"}

    {/block}

<div class="footer">
    <div class="content">
        <ul>
            <li>
                <a href="/index/Suser/index">
                    <img src="/static/home/shang/images/shouyi.png" alt="">
                    <p>收益记录</p>
                </a>
            </li>
            <li>
                <a href="/index/Suser/Suser">
                    <img src="/static/home/shang/images/my.png" alt="">
                    <p>个人中心</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="/static/home/shang/js/jquery-3.2.1.min.js"></script>
<script src="/static/home/shang/js/index.js"></script>
</body>
</html>